[submodule "spdlog"]
	path = engine/third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "glfw"]
	path = engine/third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "imgui"]
	path = engine/third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "imguizmo"]
	path = editor/third_party/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
