[submodule "spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "cpp-common-lib"]
	path = third_party/cpp-common-lib
	url = https://github.com/Kostu96/cpp-common-lib.git
[submodule "imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "yaml-cpp"]
	path = third_party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
